.card-header {
    background-color: #2d3e50;
    color: #d9e9e8;
    border: 1px solid var(--blue);
    font-weight: bold;
}

#postBody {
    background-color: #3E5F4B;
    color: darkblue
}

h3 {
    color: #CBB680;
}