#postHeader {
    background-color: var(--rose);
    color: var(--dark);
    border: 1px solid var(--blue);
    font-weight: bold;
}

#postBody {
    background-color: #3E5F4B;
    color: darkblue
}

h3 {
    color: #CBB680;
}